:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  --font-family: Arial, Helvetica, sans-serif;
}

/* Resto del CSS */

.school {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

.time {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
}

html {
  background-color: var(--primary-color);
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 282px);
  gap: var(--spacing);
  padding: 20px;
  max-width: 1400px;
  margin: auto;
  background-color: var(--primary-color);
}

header {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: var(--blue-color);
  color: var(--primary-color);
  display: grid;
}

header > h1 {
  text-transform: uppercase;
  font-family: var(--font-family);
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
}

header > p {
  font-family: var(--font-family);
  text-align: justify;
  padding: 35px;
}

footer {
  grid-column: -3 / -1;
  background-color: var(--orange-color);
  color: var(--primary-color);
  padding-right: 35px;
  padding-left: 30px;
}

footer > h3,
footer > p {
  font-family: var(--font-family);
  padding: 10px;
}

footer > p {
  padding-right: 35px;
}

footer > button {
  margin-left: 10px;
  padding: 20px;
  width: 150px;
  text-transform: uppercase;
  font-weight: 600;
}

main {
  border: var(--border);
  color: var(--blue-color);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

main > h2 {
  text-transform: uppercase;
  font-family: var(--font-family);
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  grid-row: 2 / 3;
}

/* Media queries */
/* Tengo que decirlo, estoy bastante orgullosa de estas media queries :') */

@media screen and (max-width: 850px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: var(--spacing);
  }

  header > h1 {
    font-size: 40px;
  }

  main {
    grid-row: 3 / 4;
  }

  .alumni {
    grid-row: 4 / 5;
  }

  .time {
    grid-row: -3 / -1;
    background-size: cover;
    background-position: center;
  }

  button {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 651px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: var(--spacing);
    text-align: center;
    margin-left: 20px;
  }

  footer {
    grid-row: 7 / 8;
    grid-column: 1;
  }

  .alumni {
    grid-row: 6 / 7;
    grid-column: 1;
  }

  main {
    grid-row: 5 / 6;
    grid-column: 1;
    font-size: 20px;
  }

  .student {
    grid-row: 4 / 5;
    grid-column: 1;
  }

  .school {
    grid-row: 3 / 4;
    grid-column: 1;
  }

  header {
    grid-row: 1 / 3;
    grid-column: 1;
    padding: 25px;
  }

  header > p {
    font-size: 22px;
  }

  header > h1 {
    font-size: 50px;
  }

  footer > h3 {
    font-size: 25px;
  }

  footer > p {
    padding-right: 5px;
    font-size: 18px;
  }
}
